<div class="sign-group">
      <h3>Log In</h3>
      <p>
      <mat-form-field>
        <mat-label>User email</mat-label>
        <input matInput placeholder="User Mail" #userName required>
      </mat-form-field>
      </p>
      <p>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" #userPassword required>
      </mat-form-field>
      </p>
<!--      <div class="formGroup">-->
<!--        <input type="password" class="formControl" placeholder="Password" #userPassword required>-->
<!--      </div>-->
      <!-- Calling SignIn Api from AuthService -->
      <button mat-raised-button color="primary" (click)="authService.SignIn(userName.value, userPassword.value)">Log in</button>


</div>
