<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">calendar_month</mat-icon>
        Date</th>
      <td mat-cell *matCellDef="let row">{{row.date | date:'mediumDate'}}</td>
    </ng-container>

    <ng-container matColumnDef="driver">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">directions_car</mat-icon>
        Pilote</th>
      <td mat-cell *matCellDef="let row">{{row.driver}}</td>
    </ng-container>

    <ng-container matColumnDef="passengers">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">airline_seat_recline_extra</mat-icon>
        Passagers</th>
      <td mat-cell *matCellDef="let row">{{row.passengers}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
